.page02 {
  &__sectionOne {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 16px;
    margin: 32px auto 64px;

    max-width: 1024px;
    width: 90%;

    &--title {
      color: var(--color-whiteText);
      text-align: center;
    }
  }
  &__sectionTwo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 16px;
    margin: 32px auto;

    position: relative;

    max-width: 1024px;
    width: 90%;
    &--title {
      color: var(--color-whiteText);
      text-align: center;
    }
  }
  &__sectionThree {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 16px;
    margin: 32px auto;

    max-width: 1024px;
    width: 90%;
    &--title {
      color: var(--color-whiteText);
      text-align: center;
    }
  }
  &__sectionFour {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 16px;
    margin: 32px auto;

    max-width: 1024px;
    width: 90%;
    &--title {
      color: var(--color-whiteText);
      text-align: center;
    }
  }
  &__sectionFive {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 32px;
    margin: 32px auto;

    max-width: 1024px;
    width: 90%;

    &--title {
      color: var(--color-whiteText);
      text-align: center;
    }
  }
}

.videoShowDisplay {
  display: none;
}

.videoShowOpacity {
  opacity: 0;
}
