.pageOne__videoContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  gap: 16px;

  margin: 32px auto;
  max-width: 1024px;
  width: 90%;

  &--text {
    color: var(--color-whiteText);
    margin: 0 auto;
    text-align: left;
  }
}
