.main-cardImage {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;

  background: linear-gradient(
    260deg,
    rgba(51, 51, 51, 0.5) 0%,
    rgba(51, 51, 51, 0.2) 100%
  );
  backdrop-filter: blur(30px);
  border-radius: 30px 15px 15px 100px;

  margin: 32px auto;
  padding-left: 16px;

  position: relative;
  overflow: hidden;

  max-width: 1024px;
  width: 90%;
  &--textContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px;
    * {
      color: var(--color-whiteText);
    }
    ul {
      list-style: none;
    }
  }
  &--image {
    border-radius: 0 15px 0 0;
    filter: drop-shadow(-6px 0px 28px rgba(0, 0, 0, 0.4));

    position: relative;

    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .main-cardImage {
    height: 480px;
    flex-direction: row;
    &--textContainer {
      padding: 32px 0 32px 32px;
      width: 60%;
      li {
        margin-left: 16px;
      }
    }
    &--image {
      bottom: 64px;
      border-radius: 0 15px 15px 180px;
      width: 300px;
    }
  }
}
