/* You can add global styles to this file, and also import other style files */

// FONTS IMPORT

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap');

// VARIAVEIS

:root {
  --color-whiteText: #f6f6f6;

  --color-whiteOne: #f6f6f6;
  --color-whiteTwo: #fefefe;
  --color-whiteThree: #fdfeff;
  --color-whiteFour: #fefdfb;

  --color-blackOne: #303030;
  --color-blackTwo: #2b2b2b;
  --color-blackThree: #1f1f1f;
  --color-blackFour: #1b1c1e;

  --background-colorMain: #101b1f;
  --radial-gradient: radial-gradient(
    50% 50% at 50% 50%,
    #1f3e4a 0%,
    #0a1418 100%,
    #0a1418 100%
  );
}

// RESET

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background: linear-gradient(180deg, #19292f 0%, #031318 100%);
  overflow-x: hidden;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

// IMPORTS MODUL

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 28px;
  }

  p {
    font-size: 20px;
  }
}
