.main-textImage {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  margin: 32px auto;
  padding: 0 0 16px 0;
  max-width: 1024px;
  width: 90%;
  &--container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin: 0 auto;
    width: 90%;
  }
  h2,
  h3 {
    color: var(--color-whiteText);
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
  p {
    color: var(--color-whiteText);
    text-align: center;
    width: 100%;
  }
  &--image {
    width: 320px;
  }
}

.directionColumn {
  flex-direction: column;
}

.directionColumnReverse {
  flex-direction: column-reverse;
}

.directionRow {
  flex-direction: row;
}

.directionRowReverse {
  flex-direction: row-reverse;
}

@media screen and (min-width: 1024px) {
  .main-textImage {
    flex-direction: row;
    h2,
    h3 {
      text-align: left;
    }
    p {
      text-align: left;
    }
  }
  .directionColumn {
    flex-direction: row;
  }

  .directionColumnReverse {
    flex-direction: row-reverse;
  }
}
